[Unit]
Description={{ item.description }}
{% if item.after is defined %}
After={{ item.after }}
{% else %}
After=network.target
{% endif %}

[Service]
Type={{ item.type }}
{% if item.execstartpre is defined %}
ExecStartPre={{ item.execstartpre }}
{% endif %}
ExecStart={{ item.execstart }}
{% if item.execstartpost is defined %}
ExecStartPost={{ item.execstartpost }}
{% endif %}
{% if item.execstop is defined %}
ExecStop={{ item.execstop }}
{% endif %}
{% if item.workingdirectory is defined %}
WorkingDirectory={{ item.workingdirectory }}
{% else %}
WorkingDirectory=/opt/openworld
{% endif %}
{% if item.pidfile is defined %}
PIDFile={{ item.pidfile }}
{% endif %}
{% if item.restart is defined %}
Restart={{ item.restart }}
{% endif %}
{% if item.user is defined %}
User={{ item.user }}
Group={{ item.user }}
{% endif %}
{% if item.nice is defined %}
Nice={{ item.nice }}
{% endif %}
{% if item.oomscoreadjust is defined %}
OOMScoreAdjust={{ item.oomscoreadjust }}
{% endif %}

[Install]
WantedBy=multi-user.target
