<service>
	<short>Open World</short>
	<description>Explore your own unique world, survive the night, and create anything you can imagine!</description>
	<port protocol="tcp" port="{{ port }}"/>
</service>
