#!/bin/bash

DATE=$(date -I'minutes')
BACKUP_RETENTION_DAYS=$(< backup_retention_days)

sudo systemctl stop openworld.service

cp -pr --reflink=always server/ server-backup

if [ "$1" = "restart" ]
then
	sudo systemctl start openworld.service
fi

SCRIPT_PWD=$(pwd)
cd server-backup || exit 1
borg create --compression zstd "$SCRIPT_PWD"/backup::"$DATE" .
cd "$SCRIPT_PWD" || exit 1
rm -fr server-backup

borg prune --keep-within "$BACKUP_RETENTION_DAYS"d --save-space backup

tar cf - backup/ | oci os object put --auth instance_principal --bucket-name {{ bucket_name }} --file - --name openworld.tar --force
